body{
    background-color: #c3c388;
    margin: 20pt;

}

#nav{
    background-color: #666633;
    padding: 15pt;
    margin: 20pt;
    border: black solid;
    font-style: oblique;
}

#menu li{
    background-color:#99994d;
    display: inline;
    font-size: 20pt;
    margin: 20pt;
    padding: 10pt;
}

#menu li:first-child{
    background-color: #802b00;
    border: black solid;
    color: white;
    font-size: 30pt;
    margin: 20pt;
    padding: 20pt 40pt;
}

#list-books{
    background-color: #666633;
    padding: 20pt;
    border: black solid;
}

#list-books li{
    background-color: #99994d;
    padding: 20pt;
    margin: 10pt;
    border: black solid;
}

#list-books img{
    border: black solid;
    
}
#list-books p{
    font-size: 15pt;
    border: black ;
    font-style: oblique;
    
}

